@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #111827;
}

/* variables */

.text-h1 {
  @apply text-[35px] md:text-[64px] lg:text-[80px];
}
.text-h2 {
  @apply text-[26px] md:text-[38px] lg:text-[56px];
}
.text-h3 {
  @apply text-[26px] sm:text-[30px] md:text-[36px] lg:text-[42px] xl:text-[48px];
}
.text-h4 {
  @apply text-[22px] sm:text-[26px] md:text-[30px] lg:text-[34px] xl:text-[38px];
}

.text-h5 {
  @apply text-[22px] md:text-[32px] lg:text-[34px];
}

.text-h6 {
  @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[22px];
}

.text-p {
  @apply text-[16px] sm:text-[17px] md:text-[18px] lg:text-[19px];
}

.text-small-p {
  @apply text-[14px] md:text-[14px] lg:text-[14px];
}


.zentics-h1 {
  font-size: calc(45px + 2vw);
  font-family: "DM Sans", sans-serif;
}
.zentics-h2 {
  @apply text-[26px] md:text-[38px] lg:text-[56px];
  font-family: "DM Sans", sans-serif;
}
.zentics-h3 {
  @apply text-[22px] md:text-[32px] lg:text-[34px];
   font-family: "DM Sans", sans-serif;
}
.zentics-h4 {
  font-size: calc(26px + 1.4vw);
  font-family: "DM Sans", sans-serif;
}
.zentics-h5 {
  font-size: calc(22px + 1.2vw);
  font-family: "DM Sans", sans-serif;
}
.zentics-h6 {
  @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[22px];
  font-family: "DM Sans", sans-serif;
}
.zentics-p {
  @apply text-[14px] md:text-[14px] lg:text-[18px] text-[#676767];
  font-family: "DM Sans", sans-serif;
}
.zentics-small-p {
  @apply text-[14px] md:text-[14px] lg:text-[14px];
}



.text-outline {
  -webkit-text-stroke: 1.5px white; /* Border thickness and color */
  color: transparent; /* Makes the fill transparent */
}

.vertical-text-outline {
  -webkit-text-stroke: 1.5px rgb(72, 97, 248); /* Border thickness and color */
  color: transparent; /* Makes the fill transparent */
}

.inverted-radius {
  --r: 20px; /* corner radius */
  --s: 30px; /* size of the inverted curve */
  --x: 20px; /* x offset */
  --y: 10px; /* y offset */

  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
        72%);
  --_g: conic-gradient(
    from 90deg at calc(100% - var(--r)) calc(100% - var(--r)),
    #0000 25%,
    #000 0
  );
  --_d: (var(--s) + var(--r));

  mask: calc(100% - var(--_d) - var(--x)) 100% var(--_m),
    100% calc(100% - var(--_d) - var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--x)) calc(-1 * var(--r) - var(--y)),
    var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(-1 * var(--_d) - var(--y));
  mask-repeat: no-repeat;
}

.longinverted-radius {
  --r: 32px; /* corner radius */
  --s: 24px; /* size of inverted curve */
  --x: 80px; /* default x offset */
  --y: 1px; /* y offset */

  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
        72%);
  --_g: conic-gradient(
    from 90deg at calc(100% - var(--r)) calc(100% - var(--r)),
    #0000 25%,
    #000 0
  );
  --_d: (var(--s) + var(--r));

  mask: calc(100% - var(--_d) - var(--x)) 100% var(--_m),
    100% calc(100% - var(--_d) - var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--x)) calc(-1 * var(--r) - var(--y)),
    var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(-1 * var(--_d) - var(--y));
  mask-repeat: no-repeat;
}

/* Media Queries to Adjust --x Value Responsively */
@media (min-width: 390px) {
  .longinverted-radius {
    --x: 60px;
  }
}
@media (min-width: 640px) {
  .longinverted-radius {
    --x: 80px;
  }
}

@media (min-width: 768px) {
  .longinverted-radius {
    --x: 100px;
  }
}

@media (min-width: 1024px) {
  .longinverted-radius {
    --x: 180px;
  }
}
